body {
    background: rgb(189,190,191);
    background: linear-gradient(90deg, rgba(242,242,242,1) 0%, rgba(189,190,191,1) 68%);
}
.infopage {
    display: flex;
    justify-content:center;
    background-repeat: no-repeat;
    background-size:cover;
    color: black;
    padding: 140px 5% 5% 5%;
}
.infopage a {
    color: #00a000;
}