body {
  font-family: Lora,Helvetica Neue,Helvetica,Arial,sans-serif;
  position: relative;
  color: white;
  background-color: #00a000;
}

#mainNav a {
  color: #00a000;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Cabin,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 700;
  margin: 0 0 35px;
  letter-spacing: 1px;
  text-transform: none;
}

