body {
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  color: white;
  background-color: #00a000;
}

#mainNav a {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: #00a000;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Ubuntu', sans-serif;
}
#offers .row {
  padding: 5% 0 5% 0;
}
#offers p, h3 {
  color: black;
}
#offers .btn {
  background-color:#00a000;
  color: white;
}

#Jakub img{
  width: 60%;
  border-radius: 50%;
  border: 5px blue;
}

#career .jumbotron-fluid {
  color: black;
  padding: 10% 5% 5% 5%;
}
@media (max-width:455px) {
  #career .row {
    padding-top: 20px;
  }
}
@media (min-width: 992px) {
  #mainNav.navbar-shrink {
    background: rgb(189,190,191,1);
    background: linear-gradient(90deg, rgba(242,242,242,1) 0%, rgba(189,190,191,1) 68%);
  }
}
@media (max-width: 991px) {
    #mainNav {
      background: rgb(189,190,191,1);
      background: linear-gradient(90deg, rgba(242,242,242,1) 0%, rgba(189,190,191,1) 68%);
    }}

@media (max-width:455px) {
  #animation .caption {
display: none;
  }
}
@media (max-width:455px) {
  #h2 {
    padding-top: 15px;
    font-size: 25px;
  }
  #h3 {
    font-size: 20px;
  }
}
